{
  "Parameters": {
    "SEARCH_API_URL": "http://localhost:8082",
    "SEARCH_API_KEY": "",
    "SEARCH_API_CONNECTION_TIMEOUT": "30",
    "DATABASE_USERNAME": "motdbuser",
    "DATABASE_CONNECTION": "jdbc:mysql://docker.for.mac.localhost:3306/mot2",
    "DATABASE_PASSWORD": "password",
    "OBFUSCATION_SECRET": "BbV[`8d7zQnc:?}\"CSz$L0t+(3r:_uT$",
    "ANNUAL_TESTS_MAX_QUERYABLE_REGISTRATIONS": "1",
    "LOG_LEVEL": "local",
    "APP_ENV": "DEBUG"
  }
}
