.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.orig
*~.nib
local.properties
.settings/
.loadpath
.recommenders
api/out/
# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

#IntelliJ Project Files
.idea

.gradle
*/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# VSCode
.vscode
api/out/production/trade-service/config.properties
api/src/main/resources/config.properties
*.DS_Store

# SonarQube working dirs
**/.scannerwork/
